{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
  

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							
							<center>
								<h1>REGISTER</h1>
							</center>
						</div>
						<div class="signin">


                    
                   
							<form class="form-horizontal" method="POST" class="form" autocomplete="off">
								{% csrf_token %}
							  
				  <div class="form-group" style="margin-left: 90px;">
				<table>
				
				<tr>
					  <td><input type="text" class="form-control" name="first_name" placeholder="FirstName" required autocomplete="off" style="width: 300px;"></td></tr>
				
				<tr><td><br></td></tr>
				  
				
				   <tr>
					  <td><input type="text" class="form-control" name="last_name"  autocomplete="off" required placeholder="LastName"></td></tr>
					  <tr><td><br></td></tr>
					
				<tr>
					   
					  <td><input type="text" class="form-control" name="username"  autocomplete="off" required placeholder="UserName"></td></tr>
					  <tr><td><br></td></tr>
				  
					   <tr>
					  <td><input type="text" class="form-control" name="email"  autocomplete="off" required placeholder="Email"></td></tr>
					  <tr><td><br></td></tr>
				   
				
					  <tr>
					  <td><input type="password" class="form-control" name="password1"  autocomplete="off" required placeholder="Password"></td></tr>
					  <tr><td><br></td></tr>
				  
						<tr>
						<td><input type="password" class="form-control" name="password2"  autocomplete="off" required placeholder="Confirm Password"></td></tr>
						<tr><td><br></td></tr>
				
						<tr>
							<td><input type="text" class="form-control" name="phone"  autocomplete="off" required placeholder="Contact Number"></td></tr>
							<tr><td><br></td></tr>
							
				  
				</table>
				</div>
				
				  <div class="form-group">
					
					  <button type="submit" class="btn btn-success" style="margin-left: 300px;">REGISTER</button>
				  
					
				  </div>
				</form>
				{% for i in messages %}
<div class="alert alert-danger" role="alert">
{{i}}
</div>
{% endfor %}
				
                    

						</div>
						<div class="new_people">
							<h2>You Have An Account</h2>
							<p></p>
							<a href="{% url 'login' %}">Login Now!</a>
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
			<footer class="diff">
			   <p class="text-center">&copy 2016 Resale. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
			</footer>
        <!--footer section end-->
	</section>

    {% endblock body %}